///////////////////////////////////////////////////////////////////////////////
///
///   Icron Technology Corporation - Copyright 2011
///
///
///   This source file and the information contained in it are confidential and 
///   proprietary to Icron Technology Corporation. The reproduction or disclosure, 
///   in whole or in part, to anyone outside of Icron without the written approval 
///   of a Icron officer under a Non-Disclosure Agreement, or to any employee of 
///   Icron who has not previously obtained written authorization for access from 
///   the individual responsible for the source code, will have a significant 
///   detrimental effect on Icron and is expressly prohibited.
///
///////////////////////////////////////////////////////////////////////////////
//
//!   @file  -  _log.h //TODO fix the file name
//          
//!   @brief -  This file contains the logging definitions for this module
//
//
//!   @note  - 
//    
///////////////////////////////////////////////////////////////////////////////

// TODO: fix the name of this define to match the file name
#ifndef _LOG_H
#define _LOG_H

/***************************** Included Headers ******************************/

#include <project_components.h>
#include <ilog.h>


/************************ Defined Constants and Macros ***********************/

// Sample:
//ILOG_CREATE(ILOG_COMPONENT)
//    ILOG_ENTRY(INVALID_COMPONENT, "ILOG Received an invalid component")
//    ILOG_ENTRY(INVALID_CODE, "ILOG Received an invalid code")
//ILOG_END(ILOG_COMPONENT, ILOG_FATAL_ERROR)

// TODO: Template to be filled in
ILOG_CREATE()
    ILOG_ENTRY(, )
    ILOG_ENTRY(, )
    ILOG_ENTRY(, )
    ILOG_ENTRY(, )
    ILOG_ENTRY(, )
ILOG_END(, )

#endif // #ifndef _LOG_H

